* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    103.88% 58.43% at 56.74% 50%,
    #0085ff 0%,
    #003465 100%
  );
}

.container {
  max-width: 1440px;
  margin: auto;
}
